body {
	background-image: linear-gradient(to bottom right, #0072B2, #F0E442);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

body::after {
	content: "";
	position: fixed;
	top: 0;
	right: 0;
	width: 25em;
	height: 100vh;
	background: url('../images/wbd1.png') right top;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.8;
}
